#tabela-pedidos {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    text-align: center;
}

#tabela-pedidos td:last-child {
    text-align: right;
}
